@media only screen and (max-width: 992px)
  
  .navbar
    .menu-btn
      display: block
    &-menu
      display: block
      margin-left: auto
      &__link
        margin-left: 100%
      .active 
         margin-left: 0%
  .hero-inner-worktime 
    h1
      font-size: 40px
    h2
      font-size: 30px
@media only screen and (max-width: 768px)
  .title
    font-size: 35px
  .text
    font-size: 20px
  .about-us-grid-text
    p
      font-size: 15px
  .menu-title
    p
      font-size: 20px
@media only screen and (max-width: 546px)
  .navbar-logoname
    font-size: 1.5rem
  .order-info-grid
    display: block
    .order-info-block
      width: 100%
  .hero-inner-worktime 
    h1
      font-size: 35px
    h2
      font-size: 25px
@media only screen and (max-width: 480px)
    .hero-inner-worktime 
      h1
        font-size: 30px
      h2
        font-size: 20px
    .title
      font-size: 30px
    .text
      font-size: 15px
    .about-us-grid-text
      padding: 15px
      .title
        font-size: 20px
      p
        font-size: 10px
    .about-us-grid-text
      padding: 15px