@import 'grid'
@import 'header'
@import 'main'
*
    box-sizing: border-box
body
    background: #ecf0f1
.flexible-img
    max-width: 100%
    height: auto
.line
    width: 25%
    border-radius: 50px
    border: 1px #B77E4B solid