.header{
	width: 100%;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	transition: all 0.2s;
	&__navbar{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo{
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #faf3e0;
		span{
			font-size: 25px;
			font-weight: 600;
			color: #322929;
		}
	}
	&__logo-img{
		height: 50px;
		width: 50px;
	}
	&__btn{
		width: 50px;
		height: 50px;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 50;
		span{
			width: 50%;
			height: 3px;
			background-color: #322929;
			position: relative;
			transition: all 0.3s;
			&::before,&::after{
				position: absolute;
				content: "";
				display: block;
				width: 100%;
				height: 3px;
				background-color: #322929;
				transition: all 0.3s;
			}
			&::before{
				transform: translateY(7px);
			}
			&::after{
				transform: translateY(-7px);
			}
		}
	}
	&__menu{
		display: flex;
		align-items: center;
	}
	&__menu-item{
		color: #322929;
		margin: 0 7px;
		font-size: 18px;
		position: relative;
		padding: 7px;
		transition: all 0.3s;
		font-weight: 600;
		&::before{
			transition: all 0.4s;
			position: absolute;
			content: "";
			bottom: -10%;
			right: 0;
			width: 0%;
			height: 2px;
		}
		&:hover{
			&::before{
				left: 0;
				width: 100%;
				background-color: #322929;
			}
		}
	}
}
