.hero{
	width: 100%;
	padding: 130px 0 0 0;
	min-height: 300px;
	color: #322929;
	&__row{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		height: auto;
	}
	&__info{
		flex: 0 1 43%;
		padding: 5px 5px 5px 5px;
	}
	&__title{
		text-align: center;
		font-weight: 700;
		font-size: 40px;
		margin: 0 0 30px 0;
	}
	&__subtitle{
		text-align: center;
		font-weight: 600;
		font-size: 20px;
		margin: 30px 0 0 0;
	}
	&__img{
		flex: 0 1 57%;
		box-shadow: 1000px -0px #DCCDC2, 
					500px -0px #DCCDC2, 
					0px -200px #DCCDC2,
					0px -100px #DCCDC2,
					1000px -200px #DCCDC2,
					500px -200px #DCCDC2,
					100px -200px #DCCDC2;
	}
}