@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap");
.header {
  width: 100%;
  height: 58px;
  background-color: #A22131;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: 'Balsamiq Sans', cursive;
}

.header__navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__progress {
  width: 0%;
  height: 3px;
  background-color: #F7EEE8;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo span {
  margin-left: 15px;
  font-size: 24px;
}

.header__img {
  width: 55px;
  height: 55px;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  -webkit-animation: bauble-anim 3.25s linear infinite alternate;
          animation: bauble-anim 3.25s linear infinite alternate;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  font-size: 18px;
  margin-left: 20px;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px 0;
}

.header__link::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  background: #ffffff;
  bottom: -5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__link:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  color: #427952;
}

.header__link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background: #427952;
}

.header__btn {
  width: 50px;
  height: 50px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn-line {
  width: 24px;
  height: 3px;
  background: #ffffff;
  position: relative;
}

.header__btn-line::before, .header__btn-line::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 3px;
  background: #ffffff;
}

.header__btn-line::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.header__btn-line::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

@-webkit-keyframes bauble-anim {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes bauble-anim {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.hero {
  margin: 250px 0 100px 0;
  min-height: 250px;
  width: 100%;
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  color: #F7EEE8;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.hero__subtitle {
  margin: 25px 0;
  color: #F7EEE8;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.hero__btn {
  border: 2px #174536 solid;
  color: #F7EEE8;
  background: #174536;
}

.hero__btn:hover {
  color: #174536;
  background: none;
}

.content {
  width: 100%;
}

.about-us {
  width: 100%;
  min-height: 350px;
  background-color: #174536;
}

.about-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us__info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__title {
  margin: 0 0 25px 0;
  color: #F7EEE8;
}

.about-us__line {
  background-color: #A22131;
}

.about-us__text {
  color: #DEB89C;
  font-size: 18px;
  line-height: 1.5;
}

.why-us {
  width: 100%;
  background: url("../img/why-bg.jpg") no-repeat center;
  background-size: cover;
}

.why-us__body {
  min-height: 320px;
  width: 100%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-us__text {
  color: #F7EEE8;
  text-shadow: 3px 5px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.why-us__title {
  margin: 0 0 20px 0;
}

.why-us__subtitle {
  margin: 0 0 25px 0;
}

.why-us__btn {
  border: 2px #A22131 solid;
  background: #A22131;
  color: #F7EEE8;
}

.why-us__btn:hover {
  color: #A22131;
  background: none;
}

.xmas-items {
  width: 100%;
  background-color: #85B6D6;
  padding: 50px 0;
}

.xmas-items__title {
  color: #3D2014;
  width: 100%;
  margin: 0 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xmas-items__title span {
  margin: 20px 0;
}

.xmas-items__line {
  display: block;
  background-color: #A22131;
}

.xmas-items__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.xmas-items__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  min-height: 300px;
  margin: 15px;
  border-radius: 10px;
  border: 2px rgba(0, 0, 0, 0) dashed;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: #F7EEE8;
}

.xmas-items__col:hover {
  border: 2px #A22131 dashed;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.col-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  text-align: center;
}

.col-item__img {
  width: 100%;
}

.col-item__img img {
  width: 75px;
  height: 75px;
}

.col-item__title {
  font-family: 'Mountains of Christmas', cursive;
  margin: 15px 0 0 0;
  width: 100%;
  color: #A22131;
}

.col-item__title span {
  font-weight: 700;
  font-size: 1.7rem;
}

.col-item__text {
  width: 100%;
  font-size: 16px;
  margin: 15px 0;
  color: #3D2014;
  min-height: 150px;
}

.col-item__button {
  width: 100%;
  margin: 5px 0;
}

.col-item__btn {
  color: #F7EEE8;
  background: #174536;
  border: 2px #174536 solid;
}

.col-item__btn:hover {
  background: none;
  color: #174536;
}

body {
  font-family: 'Balsamiq Sans', cursive;
  background: url("../img/bg.jpg") center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.flexible-img {
  width: 100%;
  height: auto;
}

.title {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 3rem;
  font-weight: 700;
}

.subtitle {
  font-family: 'Alex Brush', cursive;
  font-size: 2.5rem;
  font-weight: 400;
}

.btn {
  width: 130px;
  height: 45px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.line {
  width: 120px;
  height: 3px;
  margin: 0 0 15px 0;
}
/*# sourceMappingURL=style.css.map */