@media only screen and (max-width: 1170px) {
  main .container {
    max-width: 992px;
  }
}

@media only screen and (max-width: 992px) {
  main .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .navbar .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .menu .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0;
    padding: 20px;
  }
  .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-menu-item {
    margin: 15px 0;
    margin-left: 100%;
  }
  .navbar-menu .active {
    margin-left: 0%;
  }
  .header-body-information h1 {
    font-size: 1.5em;
  }
  .header-body-information h2 {
    font-size: 1em;
  }
  .cities-card {
    height: 380px;
  }
  .cities-card-img-back .ticket-information .title {
    font-size: 1.5em;
  }
  .cities-card-img-back .ticket-information h2 {
    font-size: 1em;
  }
  .cities-card-information {
    font-size: 20px;
    padding: 20px;
  }
  .cities-card-information .title {
    margin: 5px 0;
    font-size: 30px;
  }
  .cities-card-information .text-information-right {
    margin: 0;
    padding: 0;
  }
  .cities-card-information .text-information-left {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  main .container {
    max-width: 546px;
    margin: 0 auto;
  }
  .header-body-information h1 {
    font-size: 1em;
  }
  .header-body-information h2 {
    font-size: 0.75em;
  }
  .cities-card {
    display: block;
    height: 800px;
  }
  .cities-card-img {
    width: 100%;
    height: 50%;
  }
  .cities-card-information {
    border-radius: 0 0 25px 25px;
    width: 100%;
    height: 50%;
  }
  .cities-card .left-border-radius {
    border-radius: 25px 25px 0 0;
  }
}

@media only screen and (max-width: 546px) {
  main .container {
    max-width: 480px;
  }
}

@media only screen and (max-width: 480px) {
  main .container {
    max-width: 360px;
  }
  .cities-card {
    height: 650px;
  }
  .cities-card-img-back .ticket-information h2 {
    font-size: 0.75em;
  }
  .cities-card-information {
    font-size: 15px;
  }
  .cities-card-information .title {
    margin: 10px 0;
  }
  .cities-card-information p {
    margin: 5px 0;
  }
  .footer {
    height: auto;
    text-align: center;
  }
  .footer .developer-information {
    display: block;
  }
  .footer .developer-information .information-title {
    width: 100%;
  }
  .footer .developer-information .contacts-menu {
    width: 100%;
  }
}
/*# sourceMappingURL=media.css.map */