.header
    width: 100%
    height: 100vh
    background: url(../img/header-bg.jpg) no-repeat center
    background-size: cover
    .navbar
        width: 100%
        height: 10vh
        display: flex
        align-items: center
        .menu
            height: 100%
            margin-left: auto
            display: flex
            align-items: center
            justify-content: end
            &-btn
                display: none
                width: 60px
                height: 60px
                margin-left: auto
                &-line
                    display: block
                    width: 100%
                    height: 3px
                    margin: 1.5px
                    background: #ffffff
            .menu-btn:hover
                cursor: pointer
        .logo
            height: 100%
            width: 10vw
            display: flex
            &-icon
                height: 100%
                padding: 3px
        &-menu
            font-family: 'Cuprum', sans-serif
            font-weight: 700
            &-item
                transition: all 0.4s
                text-align: right
                padding: 0 20px
                text-decoration: none
                font-size: 25px
                text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7)
                color: #ffffff
                position: relative
                &::before
                    position: absolute
                    content: ""
                    height: 2px
                    width: 0%
                    border-radius: 25px
                    background: #ffffff
                    top: 120%
                    right: 0
                    transition: 0.3s
            .navbar-menu-item:hover
                &::before
                    width: 100%
                    left: 0
    .header-body
        height: 90vh
        width: 100%
        display: flex
        justify-content: center
        align-items: flex-end
        text-align: center
        &-information
            color: #ffffff
            font-size: 30px
            text-shadow: 9px 11px 13px black
            padding: 30px
            h2
               margin: 20px
            .btn
                width: 160px
                height: 50px
                border-radius: 10px
                border: 0
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7)
                transition: all 0.3s
                font-size: 20px
                font-weight: bold
                &:hover
                    cursor: pointer
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7)