.hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 90vh;
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__menu{
        justify-content: flex-end;
        margin: 0 0 52px 0
    }
    &__img{
        display: flex;
        img{
            flex: 1 1 auto;
        }
    }
}
.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    color: #DB8A13;
    &__title{
        font-size: 64px;
        font-weight: bold;
    }
    &__subtitle{
        font-size: 24px;
    }
}
.social-menu{
    display: flex;
    &__item{
        margin: 0 25px;
        display: flex;
        color: #ffffff;
        font-size: 40px;
        justify-content: center;
        align-items: center;
        &:hover{
            transition: all 0.3s;
            color: #FFA841;
        }
    }
}