@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import 'navbar';
@import 'hero';
body{
    background-color: #363636;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.flexible-img{
    width: 100%;
    height: auto;
}
.header{
    background: url("../img/tree.png")  85% 100% no-repeat;
    &__hero{
        height: 90vh;
    }
}