@import '_colors';
.header{
	width: 100%;
	height: 58px;
	background-color: $red;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	color: #ffffff;
	font-family: 'Balsamiq Sans', cursive;
	&__navbar{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__progress{
		width: 0%;
		height: 4px;
		background-color: $title-color;
	}
	&__logo{
		display: flex;
		align-items: center;
		span{
			margin-left: 15px;
			font-size: 24px;
		}
	}
	&__img{
		width: 55px;
		height: 55px;
		transform-origin: 50% 0;
		transition: linear 0.3s;
		animation: bauble-anim 3.25s linear infinite alternate;
	}
	&__menu{
		display: flex;
		align-items: center;
	}
	&__link{
		font-size: 18px;
		margin-left: 20px;
		color: #ffffff;
		position: relative;
		transition: all 0.5s;
		padding: 5px 0;
		&::before{
			content: "";
			height: 2px;
			width: 100%;
			position: absolute;
			background: #ffffff;
			bottom: -5px;
			transform: scaleX(0);
			transition: all 0.5s;
		}
		&:hover{
			transform: translateY(-7px);
			color: $green;
			&::before{
				transform: scaleX(1);
				background: $green;
			}
		}
	}
	&__btn{
		width: 50px;
		height: 50px;
		display: none;
		justify-content: center;
		align-items: center;
		&-line{
			width: 24px;
			height: 3px;
			background: #ffffff;
			position: relative;
			&::before,&::after{
				content: "";
				display: block;
				position: absolute;
				width: 24px;
				height: 3px;
				background: #ffffff;
				transition: all 0.3s;
			}
			&::before{
				transform: translateY(-7px);
			}
			&::after{
				transform: translateY(7px);
			}
		}
	}
}

@keyframes bauble-anim{
	0%{
		transform: rotate(10deg);
	}
	25%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(-10deg);
	}
	75%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(10deg);
	}
}