@import 'colors';
.hero{
	margin: 250px 0 100px 0;
	min-height: 250px;
	width: 100%;
	&__body{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		color : $title-color;
		font-size: 3rem;
		font-weight: 700;
		text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
	}
	&__btn{
		background: none;
		border: 4px #ffffff solid;
		color: $green;
		font-size: 18px;
		font-weight: 700;
		transition: all 0.3s linear;
		border-radius: 7px;
		background: #ffffff;
		&:hover{
			color: #ffffff;
			background: none;
		}
	}
}